<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JN3GTHN68X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JN3GTHN68X');
    </script>
    
    <title>SpendNano</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const searchBox = document.querySelector("#search-input");
        const websiteTable = document.querySelector("#website-table");
        const noResults = document.querySelector("#no-results");
        searchBox.addEventListener("keyup", (event) => {
            const searchValue = event.target.value.toLowerCase();
            const rows = websiteTable.querySelectorAll("tbody tr");
            let visibleRows = 0;
            rows.forEach((row) => {
                const tds = row.querySelectorAll("td");
                let match = false;
                tds.forEach((td) => {
                    if (td.textContent.toLowerCase().includes(searchValue)) {
                        match = true;
                    }
                });
                if (!match) {
                    row.style.display = "none";
                } else {
                    row.style.display = "table-row";
                    visibleRows++;
                }
            });
            if (visibleRows === 0) {
                noResults.style.display = "table-row";
            } else {
                noResults.style.display = "none";
            }
        });
      });
    </script>  
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SpendNano</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addlink">Add Link</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>
  <main class="container">
      <h1 class="text-center my-5">SpendNano</h1>
      <div class="container mt-5">
        <div class="alert alert-warning" role="alert">
          <img src="https://xno.nano.org/images/xno-badge-blue.png" width="20" height="20"> Donate to us at <b>nano_1b1n1dq3brw7am5zkfoqhqg5aamm9bw9jzm6qrg5dmym31sdg5yewtbeadku</b>! We appreciate all donations!
        </div>
        <br>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-exclamation-triangle" style="color: red"></i>  All of the websites on this page are third party, and not affiliated with SpendNano. Please note that these websites could be scams, so use you're common sense before purchasing anything on a website listed here and check reviews.
        </div>
      </div>      
      <div class="form-group my-5">
        <input type="text" class="form-control" id="search-input" placeholder="Search for websites">
      </div>
      <table class="table table-striped" id="website-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="rows">
          {% for website in websites %}
            <tr>
            <td>{{ website.title }}</td>
            <td>{{ website.description }}</td>
            <td><a href="{{ website.link }}">{{ website.link }}</a></td>
            <td><a href="#" onclick="reportLink(event)" class="text-danger">Report</a></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot id="no-results" style="display:none;">
            <tr>
                <td colspan="3" style="text-align:center; background-color:lightgray;">No Results Found</td>
            </tr>
        </tfoot>
      </table>
    </main>
    <script>
      function reportLink(event) {
        event.preventDefault();
        const linkName = event.target.parentElement.parentElement.firstElementChild.textContent;
        const linkUrl = event.target.parentElement.parentElement.firstElementChild.nextElementSibling.textContent;
        const linkDescription = event.target.parentElement.parentElement.firstElementChild.nextElementSibling.nextElementSibling.textContent;
        const data = {linkName, linkUrl, linkDescription};
        fetch('/report', {
          method: 'POST',
          body: JSON.stringify(data),
          headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => {
          alert(data.message);
        });
      }
    </script>    
  </body>
</html>